
		<!-- ************** - Featured Slider - ************** -->
			<%= render 'layouts/slider'%>

		<!-- ************** - Scroll Container - ************** -->
		
			<%= render 'layouts/scroll'%>
		<!-- ************** - END Content Container - ************** -->
		
		
		<!-- ************** - Entry - ************** -->
		<div class="entry sbr clearfix">


			<!-- ************** - Content - ************** -->
			<div id="content">
				
				
				<!-- *************** - Tabs Container - *************** -->	
				<%= render 'layouts/tabs' %>
				<!-- *************** - END Tabs Container - *************** -->	
		
				
				<!-- *************** - Reviews - *************** -->	
				<%= render 'layouts/reviews'%>
				
				
				<!-- *************** - Previews - *************** -->	
				<%= render 'layouts/previews'%>
				<!-- *************** - END Previews - *************** -->	
				
				
			</div><!--/ #content-->